<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <title>Hospital Management</title>


  <style>
     body{
background: #eff3f6;
margin-top:20px;
}
.thumb-lg {
height: 100px;
width: 100px;
}
.card {
border: none;
box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
}
.m-b-30 {
margin-bottom: 30px;
}
.social-links li a {
-webkit-border-radius: 50%;
background: #fcfdfd;
border-radius: 50%;
color: #9f9f9f;
display: inline-block;
height: 30px;
line-height: 30px;
text-align: center;
width: 30px;
}
    </style>
    </head>
    <body>
        {% include "hospital/navbar.html" %}
        <br><br>
        <br><br>
        <br><br>
        

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="{% static "profile_pic/head1.jpg" %}" alt="Generic placeholder image" />
                        <div class="media-body">
                            <h5 class="mt-0 font-18 mb-1">Pauline I. Berlue</h5>
                            <p class="text-muted font-14">Head of Administration</p>
                            <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="{% static "profile_pic/head2.jpg" %}" alt="Generic placeholder image" />
                        <div class="media-body">
                            <h5 class="mt-0 font-18 mb-1">Ralph L. Alva</h5>
                            <p class="text-muted font-14">Assistant director of HMS</p>
                            <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="{% static "profile_pic/dean.jpg" %}" alt="Generic placeholder image" />
                        <div class="media-body">
                            <h5 class="mt-0 font-18 mb-1">John B. Sinoma</h5>
                            <p class="text-muted font-14">Dean</p>
                            <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="{% static "profile_pic/head03.jpg" %}" alt="Generic placeholder image" />
                        <div class="media-body">
                            <h5 class="mt-0 font-18 mb-1">Pertoma Elvisia</h5>
                            <p class="text-muted font-14">President</p>
                            <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="{% static "profile_pic/head04.jpg" %}" alt="Generic placeholder image" />
                        <div class="media-body">
                            <h5 class="mt-0 font-18 mb-1">Cary Agos</h5>
                            <p class="text-muted font-14">Hospital Administration</p>
                            <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-4">
            <div class="card m-b-30">
                <div class="card-body">
                    <div class="media">
                        <img class="d-flex mr-3 rounded-circle img-thumbnail thumb-lg" src="{% static "profile_pic/head05.jpg" %}" alt="Generic placeholder image" />
                        <div class="media-body">
                            <h5 class="mt-0 font-18 mb-1">Sernonia Estivia</h5>
                            <p class="text-muted font-14">Cheif of Staff</p>
                            <ul class="social-links list-inline mb-0">
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

{% include "hospital/footer.html" %}
</body>
<!--
developed By : Raj
-->

</html>